/* Section1 */

.section1{
    height:100vh;
    display:grid;
    grid-template-columns:70% 30%;
    align-items:center;
    padding:0 20px;
}


.section1 h1{
    font-size:7vh;
    margin:0 0 25px 0px;
}


.section1 h1 + div{
    font-size:23px;
    margin-bottom:5vh;
}

.section1 .miniPresentation{
    margin-top:5vh;
}

.section1 .shortLogoPresentation{
    margin:20px 0;
}

.section1 .shortLogoPresentation img{
    width:60px;
    height:60px;
    object-fit:contain;
    margin-right:30px;
}


.infos_icon{
    width:20px;
    height:20px;
    font-weight:bold;
    text-align:center;
    line-height:20px;
    display:inline-block;
    color:black;
    border-radius:20px;
    margin-right:10px;
}

.default_btn{
    color:#fff;
    background:#b20045;
    border:none;
    padding:7px 23px;
    border-radius:5px;
    font-size:15px;
    text-decoration:none;
}

/* Section 2 */
.section2{
    padding-bottom:10vh;
}
.section2 *{
    max-width:800px;
}
.section2 h3{
    font-size:25px;
}
.quiSuisjeName_container{
    /* font-size:25px; */
    margin:13px 0;
}
.quiSuisjeName_container img{
    width:30px;
    height:30px;
}

.section2 .tags_container{
    margin:1vh 0;
}
.section2 .tag{
    color:black;
    display:inline-block;
    padding:4px 15px;
    border-radius:20px;
    margin: 0 15px 10px 0;
    font-size:14px;
    font-weight:600;
    cursor:pointer;
}
.light-mode .section2 .tag{
    box-shadow:0 0 5px #00000030;
}
.section2 .tag:hover{
    transform:scale(1.1);
    background:#fff;
}

.femaleSign{
    width:20px;
    height:20px;
}

.whyMe_container{
    margin:8vh 0;
}

.whyMe_container .mini_title{
    margin-top:20px;
    font-weight:bold;

}
.whyMe_container p{
    margin-top:15px;
    margin-bottom:40px;

}

.whyMe_container .mini_img{
    width:30px;
    height:30px;
    margin-right:10px;
    vertical-align:middle;
}

.allLanguage_title{
    margin-bottom:20px;
}

.section2 .logo_container{
    display:flex;
    margin-bottom:15px;
}

.section2 .logo_container > div:hover{
    z-index:4;
}
.section2 .logo_container.first{
    z-index:4;
}

/* Section 3 */
.section3 h2{
    margin-bottom:10px;
}
.section3 .service_title{
    margin:20px 0 10px 0;
}

.section3 .serviceLogo_container img{
    width:30px;
    height:30px;
    vertical-align: middle;
    margin-right:10px;
}

.section3 .servicesContent_container{
    display:flex;
}
.section3 .serviceSideLine{
    width:5px;
    background:linear-gradient(transparent -20%, #b22045 70%,transparent 100%);
    margin:0 12.5px;
}
.section3 .servicesDetails_container{
    padding-left:10px;
}
.section3 .servicesDetails_container > div{
    margin-bottom:20px;
}
.section3 .servicesDetails_container  h4{
    margin-bottom:7px;
}
.section3 .servicesDetails_container  p{
    line-height:1.4em;
    position:relative;
    display:flex;
    align-items:top;
}
.section3 .servicesDetails_container  p::before{
    content:"";
    min-width:5px;
    width:5px;
    height:5px;
    min-height:5px;
    border-radius:10px;
    background:#ffffff90;
    display:inline-block;
    margin-right:7px;
    margin-top:0.5em;
    vertical-align: middle;
}



/* Responsive */
@media screen and (max-width:768px){
    /* Section 1 */
    .section1{
        display:flex;
        flex-direction:column-reverse;
        justify-content:center;
    }
    
    .section1 h1{
        font-size:30px;
        max-width:300px;
    }

    .section1 h1 + div{
        font-size:17px;
    }
    
    .section1 .shortLogoPresentation img{
        width:40px;
        height:40px;
    }

    /* Section 2 */
    .section2{
        padding:70px 20px;
    }
    .section3{
        padding:0px 20px;
    }
    
    .section2 .logo_container{
        flex-wrap:wrap;
    }
}