.mainEarthImage{
    position:relative;
    height:100vh;
}
    
.mainEarthImage img{
    position:absolute;
    top:0;
    height:110vh;
    object-fit:contain;
    object-position:left;
    z-index:1;
}
.light-mode .mainEarthImage img{
    height:100vh;
}

:not(.light-mode) .lightOnly{
    display:none;
}

.light-mode .lightOnly{
    display:unset !important;
}

@media screen and (max-width:768px){
    .mainEarthImage{
        position:relative;
        height:200px;
    }
        
    .mainEarthImage img,.light-mode .mainEarthImage img{
        height:200px;
        width:auto;
        top:57px;
    }
}